{% for node in adf_nodes %}
output "{{ node.id }}_id" {
  value       = azurerm_data_factory.{{ node.id }}.id
  description = "Resource ID of Azure Data Factory '{{ node.name }}'"
}

output "{{ node.id }}_managed_identity_principal_id" {
  value       = azurerm_data_factory.{{ node.id }}.identity[0].principal_id
  description = "Principal ID of ADF managed identity — used for RBAC assignments"
}

{% endfor %}
{% for node in databricks_nodes %}
output "{{ node.id }}_id" {
  value       = azurerm_databricks_workspace.{{ node.id }}.id
  description = "Resource ID of Databricks workspace '{{ node.name }}'"
}

output "{{ node.id }}_workspace_url" {
  value       = "https://${azurerm_databricks_workspace.{{ node.id }}.workspace_url}"
  description = "URL of Databricks workspace '{{ node.name }}'"
}

{% endfor %}
{% for node in adls_nodes %}
output "{{ node.id }}_id" {
  value       = azurerm_storage_account.{{ node.id }}.id
  description = "Resource ID of ADLS Gen2 storage account '{{ node.name }}'"
}

output "{{ node.id }}_primary_dfs_endpoint" {
  value       = azurerm_storage_account.{{ node.id }}.primary_dfs_endpoint
  description = "DFS endpoint for ADLS Gen2 '{{ node.name }}'"
}

{% endfor %}
{% for node in kv_nodes %}
output "{{ node.id }}_id" {
  value       = azurerm_key_vault.{{ node.id }}.id
  description = "Resource ID of Key Vault '{{ node.name }}'"
}

output "{{ node.id }}_uri" {
  value       = azurerm_key_vault.{{ node.id }}.vault_uri
  description = "URI of Key Vault '{{ node.name }}'"
}

{% endfor %}
{% for node in eventhub_nodes %}
output "{{ node.id }}_namespace_id" {
  value       = azurerm_eventhub_namespace.{{ node.id }}.id
  description = "Resource ID of Event Hub Namespace '{{ node.name }}'"
}

output "{{ node.id }}_eventhub_name" {
  value       = azurerm_eventhub.{{ node.id }}.name
  description = "Name of the Event Hub in namespace '{{ node.name }}'"
}

{% endfor %}
{% for node in aks_nodes %}
output "{{ node.id }}_id" {
  value       = azurerm_kubernetes_cluster.{{ node.id }}.id
  description = "Resource ID of AKS cluster '{{ node.name }}'"
}

output "{{ node.id }}_oidc_issuer_url" {
  value       = azurerm_kubernetes_cluster.{{ node.id }}.oidc_issuer_url
  description = "OIDC issuer URL for Workload Identity federation"
}

output "{{ node.id }}_kubelet_object_id" {
  value       = azurerm_kubernetes_cluster.{{ node.id }}.kubelet_identity[0].object_id
  description = "Object ID of AKS kubelet identity — used for RBAC assignments"
}

{% endfor %}
